.box1{
    background-color: #FFF5EE;
    height: 120px ;
}

.Box2{
    background-color: #FFF5EE;
     height: 60px ;
}

.redes{
    font-size: 60px !important;
    color: indianred;
}

.textos{
   color: IndianRed;
}