.caixa{
    background-color: #FFF5EE;
}

.titulo{
    color: indianred !important ;
    font-weight: bold !important ;
}

.botao{
   border-color:grey !important;
   background-color: #FFF5EE;
   color: IndianRed !important;
}

.postagens{
    background-color: white;
}